.FavoriteShow {
  padding: 1rem;
}

.FavoritesList {
  list-style: none;
  padding: 0;
}

.FavoriteItem {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.FavoriteItem h3 {
  margin-bottom: 0.5rem;
}

.FavoriteItem p {
  margin: 0.5rem 0;
}

.ShowImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.ShowLink {
  color: #007bff;
  text-decoration: none;
}

.FavoriteItem ul {
  margin-top: 1rem;
  padding: 0;
  list-style: none;
}

.FavoriteItem ul li {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.FavoriteItem ul li h4 {
  margin-bottom: 0.5rem;
}

.FavoriteItem ul li p {
  margin: 0.5rem 0;
}

.FavoriteItem ul li button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.FavoriteItem ul li button:hover {
  background-color: #c82333;
}
