/* ShowDetails.css */

.ShowDetails {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.SeasonImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.ShowDetails h2 {
  font-size: 24px;
}

.ShowDetails p {
  font-size: 16px;
  margin-bottom: 10px;
}

.ShowDetails details {
  margin-bottom: 20px;
}

.ShowDetails details summary {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ShowDetails details ol {
  list-style-type: none;
  padding: 0;
}

.ShowDetails details li {
  margin-bottom: 20px;
}

.ShowDetails details h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.ShowDetails details p {
  font-size: 16px;
  margin-bottom: 10px;
}

.ShowDetails details button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.ShowDetails details button:last-child {
  margin-right: 0;
}
